@model OficinaWeb.Data.Entities.Mechanic

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Mechanic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" onsubmit="return validateClockTimes()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MechanicSpecialtyId" class="control-label"></label>
                <select asp-for="MechanicSpecialtyId" class="form-control" asp-items="ViewBag.MechanicSpecialtyId"></select>
            </div>

            <div class="form-group">
                <label asp-for="ProfessionalContact" class="control-label"></label>
                <input asp-for="ProfessionalContact" class="form-control" />
                <span asp-validation-for="ProfessionalContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="ClockIn" class="control-label"></label>
                    <ejs-timepicker id="clockIn" asp-for="ClockIn" format="HH:mm"></ejs-timepicker>
                    <span asp-validation-for="ClockIn" class="text-danger"></span>
                </div>
                <span asp-validation-for="ClockIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClockOut" class="control-label"></label>
                <ejs-timepicker id="clockOut" asp-for="ClockOut" format="HH:mm"></ejs-timepicker>
                <span asp-validation-for="ClockOut" id="clockError" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-success" />
                <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>
   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function validateClockTimes() {
             const clockInObj = document.getElementById("clockIn").ej2_instances[0];
             const clockOutObj = document.getElementById("clockOut").ej2_instances[0];

            const clockIn = clockInObj.value;
            const clockOut = clockOutObj.value;

            if (!clockIn || !clockOut)
            {
                return true;
            }

            if (clockOut <= clockIn) {
                document.getElementById("clockError").innerText = "Clock Out must be after Clock In.";
                return false;
            }

            document.getElementById("clockError").innerText = "";
            return true;
        }
    </script>

}
